all:
  vars:
    unid: uotest01
    base_domain: poc.lab.local
    cockpit_config:
      WebService:
        LoginTitle: "{{ inventory_hostname }}"
    cockpit_packages:
      - cockpit
      - cockpit-bridge
      - cockpit-networkmanager
      - cockpit-machines
      - cockpit-packagekit
      - cockpit-podman
      - cockpit-selinux
      - cockpit-storaged
      - cockpit-system
      - cockpit-ws
    pull_secret: ""
    rhel9_iso_url: ""
    rhc_state: present
    rhc_insights:
      state: present
    rhc_repositories:
      - name: rhel-9-for-x86_64-baseos-rpms
        state: enabled
      - name: rhel-9-for-x86_64-appstream-rpms
        state: enabled
      - name: codeready-builder-for-rhel-9-x86_64-rpms
        state: disabled
    rhc_auth:
      login:
        username: "your-username"
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          <password>
  children:
    witness:
      hosts:
        witness-node.uotest01.poc.lab.local:
          ansible_user: ansible
