---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: openshift-cnv
  namespace: openshift-cnv
spec:
  targetNamespaces:
    - openshift-cnv