text
skipx
reboot
lang en_AU.UTF-8
firstboot --disable

cdrom
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

network  --bootproto=dhcp --device=enp4s0 --ipv6=auto --activate
network  --hostname={{ groups["witness"][0] }}

%packages
@^virtualization-host-environment
@container-management
@headless-management
@remote-system-management
@virtualization-platform
%end

bootloader --append="crashkernel=1G-4G:192M,4G-64G:256M,64G-:512M console=tty0 console=ttyS0,115200" --location=mbr --boot-drive=nvme0n1

ignoredisk --only-use=nvme0n1
zerombr
clearpart --all --initlabel
volgroup rhel --pesize=4096 pv.0
part pv.0 --fstype=lvmpv --ondisk=nvme0n1 --size=914124
part /boot --fstype=xfs --onpart=1 --size=1024
logvol / --vgname=rhel --name=root --fstype=xfs --size=819200
logvol swap --vgname=rhel --name=swap --fstype=xfs --size=8192
logvol /home --vgname=rhel --name=home --fstype=xfs --size=86835

timezone Etc/UTC --utc

rootpw --iscrypted $6$gAC7iiRd/eLHr9g1$XNe0nDIOJ6pzG2LNpPPpYdA34BN65rmlxmpFNYXihv7ChUkQBJsjn4QSJebkwnXjPLM6VQEvNZZuIrvltkCYp1
user --groups=wheel --name=ansible --password=$6$7M/i0.DTiARRyWAu$7Yf6TrobXVRuo0quBTFwyDlRFKtoN9wFjS1hOmB0ye/EYD05Jw4cfoEzq7xoLowsb62N0zOaGXffKiULItdKh/ --iscrypted --gecos="ansible"
